# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# Logs
*.log

# Database files (optional)
*.sqlite3

# Bytecode
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
